---
const { text, href, color } = Astro.props;

const buttonClass = [
  "rounded-3xl",
  "bg-transparent",
  "border-2",
  "px-6",
  "py-2",
  "font-semibold",
  "cursor-pointer",
  `border-${color}-500`,
  `hover:border-${color}-600`,
  `text-${color}-500`,
];
---

<a class:list={buttonClass} href={href}>
  {text}
</a>
