---
const { text = "Button", href = "#", color = "blue" } = Astro.props;

const buttonClass = [
  "rounded-3xl",
  "bg-transparent",
  "border-2",
  "px-6",
  "py-2",
  "font-bold",
  "cursor-pointer",
  `border-${color}-500`,
  `hover:border-${color}-600`,
  `text-${color}-500`,
].join(" ");
---

<a class={buttonClass} href={href}>
  {text}
</a>
