---
import { Location, Time } from "@/icons/index.js";

const { image, titulo, fecha, hora, lugar, calle } = Astro.props;
---

<article
  class="rounded-lg flex flex-col max-w-96 shadow-md shadow-black max-h-96"
>
  <header class="row-span-1 relative overflow-hidden">
    <img src={image} class="rounded-t-md w-full h-full object-cover" />
  </header>
  <footer class="row-span-1 p-4 flex flex-col gap-1">
    <h3 class="text-2xl font-bold">{titulo}</h3>
    <p class="font-bold text-xl">{fecha}</p>
    <div class="flex gap-2 items-center">
      <Time />
      <p class="flex font-semibold">{hora}</p>
    </div>
    <div class="flex gap-2 items-center">
      <Location />
      <div class="font-semibold">
        <p>{lugar}</p>
        <p>{calle}</p>
      </div>
    </div>
  </footer>
</article>

<style>
  img {
    mask-image: linear-gradient(
      180deg,
      rgb(255, 255, 255) 50%,
      rgba(0, 0, 0, 0) 90%
    );
  }

  article {
    background-color: var(--color-bg);
  }
</style>
