---
import InstagramReel from "@/components/InstagramReel.astro";
import Modal from "@/components/Modal.astro";
import { reels, images } from "@/utils/data";
---

<section
  id="galeria"
  class="relative h-auto w-auto p-5 bg-cinder-950 justify-center items-center flex flex-col"
>
  <h2 class="text-zircon-50 text-4xl font-semibold">Galeria</h2>
  <article
    class="columns-2 h-auto laptop:columns-6 gap-4 py-10 laptop:py-5"
    id="galeria"
  >
    {
      images.map(({ srcPreview, url, id }) => (
        <Modal srcPreview={srcPreview} src={url} id={id} />
      ))
    }
  </article>

  <article class="ml-10">
    <h3 class="text-zircon-50 text-2xl font-semibold text-left mb-5">Reels</h3>
    <div
      class="flex flex-row w-screen gap-5 justify-start overflow-scroll custom-scrollbar"
    >
      {
        reels.map(({ src, srcPreview }) => (
          <InstagramReel src={src} srcPreview={srcPreview} />
        ))
      }
    </div>
  </article>
</section>

<style>
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
